<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-2.5.3.js")" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $("tr:even").css("background-color", "#e8eef4");

            $('.scrollup').click(function () {
                $("html, body").animate({
                    scrollTop: 0
                }, 600);
                return false;
            });

        });
    </script>
</head>
<body>
    <header class="no-print">
        <nav>
            <ul id="menu">
                <li>@Html.ActionLink("Ton Kho", "Index", "TonKho")</li>
                <li>@Html.ActionLink("Xuat", "Index", "Xuat")</li>
                @if (Request.IsAuthenticated)
                {
                    <li>@Html.ActionLink("Thoat", "LogOff", "Account", null, new { @style = "background-color: orange;color: white" })</li>
                }
            </ul>
        </nav>
    </header>
    <div class="page">
        <section id="main">
            @RenderBody()
            <a href="#" class="scrollup">Scroll</a>
        </section>
        <footer>
        </footer>
    </div>
</body>
</html>
